*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}

#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 0 20px;
}
#nav h4{
    font-size: 15px;
     font-weight: 650;
}
#nav i{
    background-color: darkgreen;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    font-weight: 400;
}


#content1{
    width: 100%;
    padding: 40px 50px;
  }


  #content2{
    display: flex;
    justify-content: space-between;
  }
#content1 h2{
    font-size: 5vw;
    font-weight: 500;
    line-height: 5.5vw;
   
}
#cont1{
        padding: 30px 50px;
    line-height: 1.8vw;
    font-size: 1.3vw;
    font-weight: 550;
}


#cont2{
   font-size: medium;
   font-weight: 550;
   margin: 90px 70px  20px 10px;
   line-height: 30px;
   
} 
#cont2 a{
    font-size: 18px;
    text-decoration: none;
    padding: 5px  20px 10px 0px;
    margin-left: 0px;

}
.elem i{
    padding-left: 50px;
   opacity: 0;
}
.elem{
        border-top: 2px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a:hover {
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
}
.elem:hover i{
      opacity: 1;
}

#bottom{
    height: 40%;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1612736873428-d2367aecd118?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 40%;
    background-repeat: no-repeat;
}


/*NOW MAKING IT RESPONSIVE FOR MOBILE ALSO*/

@media (max-width: 600px) {
    #nav{
    height: 60px;
   
}
#nav h4{
    font-size: 15px;
    
}
#nav i{

    font-size: 12px;
   
}
#content1{
    width: 100%;
    padding: 15px 20px;
  }


  #content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
#content1 h2{
    font-size: 10.8vw;
    font-weight: 500;
    line-height: 13vw;
   
}
#cont1{
        padding: 30px 50px;
    line-height: 4.8vw;
    font-size: 3.3vw;
    font-weight: 550;
}


#cont2{
   font-size: medium;
   font-weight: 550;
   margin: 9px 7px  20px 20px;
   line-height: 30px;
   
} 
#cont2 a{
    font-size: 14px;
    text-decoration: none;
    padding: 5px  20px 10px 0px;
    margin-left: 0px;

}
.elem i{
    padding-left: 50px;
   opacity: 1;
}
.elem{
        border-top: 1px solid black;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* a:hover {
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
} */
#bottom{
    height: 33%;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1612736873428-d2367aecd118?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 40%;
    background-repeat: no-repeat;
}

}