*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
/*
#main{      
                                // this main is form making grid of desired rows and cols
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: grid;
    // grid-template-columns: 20% 20% 20% 20%; 
    grid-template-columns: repeat(4,20%);   // other way of writing line 15,, 4 tell us no. of col ad col width is 20%
    // grid-template-rows: 20% 20%; 
    grid-template-rows: repeat(2,20%);    // other way of writing line 17,, 2 tell us no. of row and row width is 20%
    padding: 4rem;
    row-gap: 1rem;
    column-gap: 1rem;
} 
*/

#main{              
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20%; */
    grid-template-columns: repeat(3,1fr);   /* other way of writing line 15,, 4 tell us no. of col ad col width is 20%*/
    /* grid-template-rows: 20% 20%; */
    grid-template-rows: repeat(4,1fr);    /* other way of writing line 17,, 2 tell us no. of row and row width is 20%*/
    padding: 4rem;
    row-gap: 1rem;
    column-gap: 1rem;

 
}
#header, #footer{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: 1 / 4;          /*alternate way to write 43 and 44line in single line*/
}

#sidebar{
     grid-row-start: 2;
    grid-row-end: 4;
} 
#content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
.elem{
    /* height: 200px;
    width: 200px;; */
    background-color: red;
    border: 3px solid black;
    color: white;
       display: flex;    /* for making text at centre*/
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
}