
@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family: "plain-light";
    src: url(./fonts/plain-light-webfont.ttf);
}
@font-face {
    font-family: "plain-regular";
    src: url(./fonts/plain-regular-webfont.ttf);
}


*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
    
}
html,body{
    width: 100vw;
    height: 100vh;
}
body{
    overflow-x: hidden;
}
#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 1px solid #ffffff93;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, 50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
    
}
#line1-part1{
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}


.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
    /* font-family: "Plain light"; */
   }
   .line h2{
    font-size: 5vw;
    opacity: 0;
     animation-duration: 2s;
    animation-iteration-count: infinite;
   }
   @keyframes anime {
     0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
     }
     48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
     }
    50%{
        font-family: 'silk serif';
       -webkit-text-stroke: 1px #fff;
       color: transparent;
        font-weight: 500;
        opacity: 1;
    }
     100%{
        font-family: 'silk serif';
       -webkit-text-stroke: 1px #fff;
       color: transparent;
        font-weight: 500;
        opacity: 0;
    }
   }
#main{
    position: relative;
   background-color: #151515;
}
#page1{
    height: 109vh;
    width: 100%;
   background-color: #151515;
   position: relative;
}
#page1 #nav{
    height: 7.5vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1vw;

}
#nav-part1{
display: flex;
gap: 3vw;
padding-left: 5vw;
}
#nav-icon i{
    font-size: 1.2vw;
    font-weight: 100;
    padding-top: 9vw;
}
#nav-logo svg{
    width: 4.8vw;
    height: auto;
    display: block;
   }
#nav-part2{
    padding-right: 35vw;
}
#nav-part2 h3{
    font-size: 1vw;
    font-weight: 100;
     margin-top: 3vw;
     line-height: 1.1vw;
}
#nav-part3{
    display: flex;
        gap: 50px;
        padding-right: 4.5vw;

}
#nav-part3 h3{
    font-size: 1vw;
        font-weight: 100;

}



.hero{
    height: fit-content;
  /* background-color: red; */
  width: 72%;
  margin-left: 27%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}
/* #hero1 ::before{
    content: "01";
    font-family: "silk serif";
    font-size: 3.5vw;
    font-weight: 100;
    position: absolute;
    top: 2vw;
    left: -3vw;
    background-color: red;
    z-index: 999;
} */

.hero:nth-child(2){
    margin-top: 17vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
}
.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.7vw;
    transition: all ease 0.3s;
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff  ;
    color: transparent;
    font-weight: 500;
        border-bottom: 0.5vw solid #ffffff00;

}
#flag{
    height: 29vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 50%);
    opacity: 0;
}
#hero3{
    /* background-color: red; */
    z-index: 999;
    position: relative;
}




#page2{
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    position: relative;
    background-color: #151515;
    margin-bottom: 15vh;
}
#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    /* background-color: red; */
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#video-crsr{
    background-color: #FFA63D;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    left: 70%;
    top: -22%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-crsr i{
    font-size: 2vw;
}


#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    margin-bottom: 24vh;
    padding: 17vh 2vw;
}
#page3 .underline{
    margin-left: 28vw;
}
#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28vw;
    background-color: black;
    padding-top: 5vw;
}
#page3 h1{
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 500;
    margin-left: 28vw;
    position: relative;
}
#page3 h1::before{
    content: "02";
    font-family: "silk serif";
    font-size: 3.5vw;
    font-weight: 100;
    position: absolute;
    top: 1vw;
    left: -8vw;
}
#image-div-container{
    /* background-color: red; */
    position: relative;
       padding: 1vw;
      display: flex;
    align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-top: 20vh;
   /* gap: 5vw; */
}

.image-div{
    height: 38vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    /* background-color: blue; */
    margin: 3vw;
}
.image-div:nth-child(6){
    height: 15vw;
    width: 21vw;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.img-above-text h2{
    font-size: 3.5vw;
    margin-left: 3vw;
    margin-bottom: -4vw;
    position: relative;
    top: -4vw;
    color: rgb(213, 211, 211);
}
.img-below-text{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27vw;
    margin-left: 3vw;
    height: 5vw;
}
.img-below-text h4{
    color: rgb(193, 190, 190);
    font-size: 1vw;
        margin-top: -1.5vw;
}
.underline5{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 0.3vw;
    width: 27.3vw;
    margin-left: 3vw;
}
.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 23vh;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page3-circle1 p{
    padding: 1.7vw;
}
.page3-circle1 svg{
    height: 30%;
}

.circle-in{
   height: 100%;
   width: 100%;
   background-color: #dddcdc;
   position: absolute;
   /* top: 0;
   left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
        transition: all ease 0.8s;

}
.circle-in p{
    font-size: 1.2vw;
    width: 21vw;
    color: #000;
    font-weight: 100;
        scale: 0;
    transition: all ease 0.7;
    transition-delay: 0.8s;
    opacity: 0;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 5.5vw;
    margin-left: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.page3-circle2 p{
    padding-left: 4vw;
}
.page3-circle2 svg{
    height: 30%;
    rotate: -60deg;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover .circle-in p{
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover .circle-in p{
    scale: 1;
    opacity: 1;
}











#page4{
    height: 250vh;
    width: 100%;
    position: relative;
        background-color: #151515;

}
#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28vw;
    background-color: #151515;
    padding-top: 5vw;
}
#page4-content h1{
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 500;
}
#page4-content h1::before{
    content: "03";
    font-family: "silk serif";
    font-size: 3.5vw;
    font-weight: 100;
    position: absolute;
    top: 6vw;
    left: -10vw;
}
.underline{
    border-bottom: 2px solid white;
    margin-top: 5vw;
}
#page4-content p{
    padding-top: 4vw;
    font-size: 2.05vw;
    width: 48%;
    line-height: 2.9vw;
}
#page4-flex{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 3vw;
    
}
#page4-flex img{
    height: 40vw;
    width: 42vw;
    object-fit: cover;
}
#page4-flex h4{
    font-size: 1.1vw;
    padding-left: 2vw;
    width: 20vw;
    font-weight: 400;
    line-height: 1.4vw;
}
#page4-blue-div{
    background-color: #3F7DF4;
    position: absolute;
     padding: 2.5vw;
     width: 35vw;
    top: 85%;
    left: 41%;
    height: 93vh;
}
.blue-div-elem{
        /* height: 15vh; */
      display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1.5vw 0;
    border-bottom: 2px solid rgb(174, 174, 174);
}
/* .blue-div-elem p{
    width: 40%;
    font-size: 2px;
        height: 1vw;

} */
.blue-div-elem h4{
    font-size: 1.8vw;
    font-weight: 500;
    padding-top: 3vw;
}
.blue-div-elem h6{
    font-size: 1vw;
    font-weight: 500;
    padding-top: 3vw;

}
.underline2{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 47vw;
}
#work{
    position: relative;
    top: 49vw;
    font-size: 1vw;
    font-weight: 100;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
       padding-top: 6vw;
     background-color: #151515;

}
.elem{
   background-color: #151515;
   white-space: nowrap;
   overflow-x: hidden;
   margin-bottom: -1vw;
}
.elem h1{
    font-size: 7vw;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #bebebe;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: animation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes animation {
    from{
        transform: translateX(0);
    }
     to{
        transform: translateX(calc(-100% - 20px));
    }
}
.elem2{
   /* background-color: red; */
   white-space: nowrap;
   overflow-x: hidden;
      margin-bottom: -1vw;
         background-color: #151515;


}
.elem2 h1{
    font-size: 7vw;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #bebebe;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: animation;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span{
    font-family: "silk serif";
    color: transparent;
}
.elem2 span{
    font-family: "silk serif";
    color: transparent;
}



#footer{
    min-height: 100vh;
    background-color: #151515;
    padding-left: 28vw;
    width: 100%;
        padding-right: 5vw;
     
}
#footer h1{
    padding-top: 5vw;
    text-transform: uppercase;
    font-size: 8vw;
    position: relative;
    
}
#footer h1::before{
    content: "04";
    font-family: "silk serif";
    font-size: 3.5vw;
    font-weight: 100;
    position: absolute;
    top: 6vw;
    left: -10vw;
    
}
#footer h1 i{
    -webkit-text-stroke: 0.01px #d4d4d4;
    color: transparent;
    font-size: 8vw;
}
#footer-div{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding-top: 6vw;
}
.underline3{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 6vw;
}
#box{
    position: relative;
}
#box1{
    padding-top: 5vw;
    padding-right: 10vw;
}
#box1 h6{
    padding-bottom: 2vw;
    font-size: 1.6vw;
    color: rgb(128, 124, 124);
}
#box1 h5{
    font-size: 2vw;
    line-height: 2.8vw;
    color: rgb(198, 198, 198);
    font-weight: 500;
}
#box2{
    padding-top: 1vw;
    padding-right: 10vw;
    position: relative;
    top: -3.8vw;
}
#box2 h6{
    padding-bottom: 2vw;
    font-size: 1.6vw;
    color: rgb(128, 124, 124);
}
#box2 h5{
    font-size: 2vw;
    line-height: 3vw;
    width:25vw;
    color: rgb(198, 198, 198);
    font-weight: 500;

}
#box3{
    padding-top: 5vw;
    /* padding-right: 10vw; */
     position: relative;
    top: -7.2vw;
        margin-right: 3vw;

}
#box3 h6{
    padding-bottom: 2vw;
    font-size: 1.6vw;
    color: rgb(128, 124, 124);
}
#box3 h5{
    font-size: 2vw;
    line-height: 3vw;
    color: rgb(198, 198, 198);
    font-weight: 500;

}
.box h6{
    font-size: 3vw;
    font-weight: 500;
    overflow-x: auto;
}
.underline4{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 3.1vw;
}
#last{
     position: relative;
    top: 4vw;
    font-size: 1.2vw;
    color: rgb(143, 143, 143)
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}





/*NOW MAKING IT RESPONSIVE*/
@media (max-width: 600px) {
    #main{
        background-color: #151515;
    }
    #page1{
    height: 60vh;
    width: 100%;
   background-color: #151515;
   position: relative;
   padding-top: 0.1px;
}
#page1 #nav{
    height: 7.5vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8vw 12vw;
    position: fixed;
    top: 0;

}

#nav-part1{
display: flex;
gap: 3vw;
padding-left: 5vw;
    position: relative;

}

#nav-icon i{
    font-size: 4.2vw;
    font-weight: 100;
    padding-top: 9vw;
    position: absolute;
    right: 76vw;
    top: -10vw;
}
#nav-logo svg{
    width: 4.8vw;
    height: auto;
    display: block;
    scale: 4;
}

#nav-part2{
    padding-right: 35vw;
    display: none;
}
#nav-part2 h3{
    font-size: 1vw;
    font-weight: 100;
     margin-top: 3vw;
     line-height: 1.1vw;
}
#nav-part3{
    display: none;
        gap: 50px;
        padding-right: 4.5vw;

}
#nav-part3 h3{
    font-size: 1vw;
        font-weight: 100;

}



.hero{
    height: fit-content;
  /* background-color: red; */
  width: 77%;
  margin-left: 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}
/* #hero1 ::before{
    content: "01";
    font-family: "silk serif";
    font-size: 3.5vw;
    font-weight: 100;
    position: absolute;
    top: 2vw;
    left: -3vw;
    background-color: red;
    z-index: 999;
} */

.hero:nth-child(2){
    margin-top: 21vh;
 }
 
.hero h1{
    font-size: 10vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 10vw;
    position: relative;
}
.hero h2{
    font-size: 10vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 10vw;
    border-bottom: 0.8vw solid #fff;
    padding-bottom: 0.7vw;
    transition: all ease 0.3s;
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff  ;
    color: transparent;
    font-weight: 500;
        border-bottom: 0.5vw solid #ffffff00;

}
#flag{
    height: 29vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 50%);
    opacity: 0;
}
#hero3{
    /* background-color: red; */
    z-index: 999;
    position: relative;
} 


#page2{
    height: 70vh;
    width: 100%;
    padding-top: 15vh;
    position: relative;
    background-color: #151515;
    margin-bottom: 30vh;
}
#video-container{
    height: 60vh;
    width: 100vw;
    position: relative;
    left: 0%;  
    /* background-color: red; */
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
}
/* #video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
} */
#video-crsr{
    background-color: #FFA63D;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-crsr i{
    font-size: 6vw;
}




#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    margin-bottom: 30vh;
    padding: 17vh 2vw;
}
#page3 .underline{
    margin-left: 2vw;
}
/* #page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28vw;
    background-color: black;
    padding-top: 5vw;
} */
#page3 h1{
    text-transform: uppercase;
    font-size: 11vw;
    font-weight: 500;
    margin-left: 2vw;
    position: relative;
}
#page3 h1::before{
    content: "02";
    font-family: "silk serif";
    font-size: 6vw;
    font-weight: 100;
    position: absolute;
    top: -10vw;
    left: 2vw;
}
#image-div-container{
    /* background-color: red; */
    position: relative;
    padding: 2vw;
    display: flex;
    align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-top: 8vh;
   gap: 5vw;
   flex-direction: column;
}

.image-div{
    height: 116vw;
    width: 92vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    /* background-color: blue; */
    margin: 3vw;
    margin-bottom: 6vw;
    margin-left: 0.5vw;
}
.image-div:nth-child(1){
    height: 119vw;
    width: 92vw;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.img-above-text h2{
    font-size: 6.5vw;
    margin-left: 1vw;
    margin-bottom: -3vw;
    position: relative;
    top: -4vw;
    color: rgb(246, 244, 244);
}
.img-below-text{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87vw;
    margin-left:0.5vw;
    height: 5vw;
}
#aim{
    margin-top: 7vw;
}

.img-below-text h4{
    color: rgb(239, 235, 235);
    font-size: 3.5vw;
        margin-top: 2vw;
}
.underline5{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 5.5vw;
    width: 87.3vw;
    margin-left: 0.5vw;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 23vh;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}
.page3-circle1 p{
    padding: 1.7vw;
}
.page3-circle1 svg{
    height: 30%;
}
.circle-in{
   height: 100%;
   width: 100%;
   background-color: #dddcdc;
   position: absolute;
   /* top: 0;
   left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.8s;

}
.circle-in p{
    font-size: 1.2vw;
    width: 21vw;
    color: #000;
    font-weight: 100;
        scale: 0;
    transition: all ease 0.7;
    transition-delay: 0.8s;
    opacity: 0;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 2vw;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    display: none;
}
.page3-circle2 p{
    padding-left: 4vw;
}
.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover .circle-in p{
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover .circle-in p{
    scale: 1;
    opacity: 1;
}





#page4{
    height: 205vh;
    width: 100%;
    position: relative;
    background-color: #151515;
}
#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 2vw;
    background-color: #151515;
    padding-top: 5vw;
    
}
#page4-content h1{
        text-transform: uppercase;
    font-size: 11vw;
    font-weight: 500;
    margin-left: 2vw;
    position: relative;
}
#page4-content h1::before{
    content: "03";
    font-family: "silk serif";
    font-size: 6vw;
    font-weight: 100;
    position: absolute;
    top: -10vw;
    left: 2vw;
}
.underline{
    border-bottom: 2px solid white;
    margin-top: 5vw;
    margin-left: 2vw;
    width: 97vw;
}
#page4-content p{
    padding-top: 13vw;
    font-size: 5vw;
    width: 115%;
    line-height: 7vw;
    margin-left: 2vw;
}
#page4-flex{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 5vw;
    flex-direction: column;
    margin-left: 2vw;
}
#page4-flex img{
    height: 125vw;
    width: 95vw;
    object-fit: cover;
}
#page4-flex h4{
    margin-left: -2vw;
    margin-top: 3vw;
    font-size: 3.9vw;
    width: 100%;
    font-weight: 400;
    line-height: 4.5vw;
}
#page4-blue-div{
    background-color: #3F7DF4;
    position: absolute;
     padding: 2.5vw;
     width: 93vw;
    top: 100%;
    left: 2vw;
    height: 62vh;
}
.blue-div-elem{
        height: 11vh;
      display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1.5vw 0;
    border-bottom: 2px solid rgb(174, 174, 174);
}
/* .blue-div-elem p{
    width: 40%;
    font-size: 2px;
        height: 1vw;

} */
.blue-div-elem h4{
    font-size: 5.3vw;
    font-weight: 500;
    padding-top: 3vw;
}
.blue-div-elem h6{
    font-size: 3vw;
    font-weight: 500;
    padding-top: 3vw;

}
.underline2{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 159vw;
    margin-left: 2vw;
    width: 94vw;
}
#work{
    position: relative;
    top: 162vw;
    font-size: 4vw;
    font-weight: 100;
    margin-left: 2vw;
}




#page5{
    min-height: 50vh;
    width: 100%;
    position: relative;
    padding-top: 6vw;
}
.elem{
   background-color: #151515;
   white-space: nowrap;
   overflow-x: hidden;
   margin-bottom: -1vw;
}
.elem h1{
    font-size: 12vw;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #bebebe;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: animation;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes animation {
    from{
        transform: translateX(0);
    }
     to{
        transform: translateX(calc(-100% - 20px));
    }
}
.elem2{
   /* background-color: red; */
   white-space: nowrap;
   overflow-x: hidden;
      margin-bottom: -1vw;
         background-color: #151515;


}
.elem2 h1{
    font-size: 12vw;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #bebebe;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: animation;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span{
    font-family: "silk serif";
    color: transparent;
}
.elem2 span{
    font-family: "silk serif";
    color: transparent;
}
#footer{
    height: 30vh;
    background-color: #151515;
    padding-left: 2vw;
       width: 100%; 

    /* padding-right: 5vw;      */
}
#footer h1{
    padding-top: 5vw;
    text-transform: uppercase;
    font-size: 11vw;
    position: relative;
    margin-left: 2vw;   
}
#footer h1::before{
    content: "04";
    font-family: "silk serif";
    font-size: 6.5vw;
    font-weight: 100;
    position: absolute;
    top: -6.3vw;
    left: 0vw;    
}
#footer h1 i{
    -webkit-text-stroke: 0.01px #d4d4d4;
    color: transparent;
    font-size: 8vw;
}
#footer-div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    padding-top: 6vw;
}
.underline3{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 6vw;
    margin-left: 2vw;
    width: 95vw;
}
#box{
    position: relative;
}
#box1{
    padding-top: 14vw;
margin-left: -45vw;
}
#box1 h6{
    padding-bottom: 4vw;
    font-size: 5.6vw;
    color: rgb(128, 124, 124);
}
#box1 h5{
    font-size: 7vw;
    line-height: 8.8vw;
    color: rgb(198, 198, 198);
    font-weight: 500;
}
#box2{
    padding-top: 15vw;
   margin-left: -41vw;
   width: 50%;
    position: relative;
    top: -3.8vw;
}
#box2 h6{
    padding-bottom: 4vw;
    font-size: 5.6vw;
    color: rgb(128, 124, 124);
}
#box2 h5{
    font-size: 7vw;
    line-height: 8.8vw;
    width:80vw;
    color: rgb(198, 198, 198);
    font-weight: 500;
}
#box3{
    padding-top: 15vw;
    margin-left: -25vw;
     position: relative;
    top: -7.2vw;
}
#box3 h6{
    padding-bottom: 4vw;
    font-size: 5.6vw;
    color: rgb(128, 124, 124);
}
#box3 h5{
    font-size: 7vw;
    line-height: 7vw;
    color: rgb(198, 198, 198);
    font-weight: 500;

}
.box h6{
    font-size: 3vw;
    font-weight: 500;
    overflow-x: auto;
}
.underline4{
    border-bottom: 2px solid rgb(189, 187, 187);
    position: relative;
    top: 5.1vw;
    margin-left: 2vw;
    width: 100vw;
}
#last{
     position: relative;
    top: 14vw;
    font-size: 4.2vw;
    color: rgb(143, 143, 143);
        margin-left: 2vw;

}

}



